*{
    margin: 0px;
}

body{
    align-items: center;
}

.header-nav{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 37, 93);
    color: #e0e0e0;
}

.ham-menu{
    padding-left: 10px;
    font-size: 12px;
}

.invisiblebutton{
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #e0e0e0;
    cursor: pointer;
}

#sidebar {
    position: fixed;
    left: -250px;
    top: 70px;
    width: 250px;
    height: 100%;
    background-color: rgb(37, 37, 93);
    color: white;
    transition: 0.3s;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 30px;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
}

.logo{
    font-family: 'Courier New';
    justify-content: space-between;
    align-items: center;
}

.profile{
    padding-right: 10px;
}

.mainbody{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.clicker-area{
    width: 50%;
    justify-content: center;
    text-align: center;
}

.market-area{
    width: 50%;
    justify-content: center;
    text-align: center;
}

#character{
    transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
    width: 50px;
    height: 50px;
    background-color: chartreuse;
    position: absolute;
    top: 300px;
    left: 250px;
}